streamlit
gradio_client
fastapi
uvicorn
requests
pandas
matplotlib
finnhub-python
python-dotenv
google-generativeai
gnews
sentence-transformers
huggingface_hub
faiss-cpu
fastapi
uvicorn
python-dotenv
google-genai
sentence-transformers
pandas
matplotlib
numpy
finnhub-python
requests
